.alert-01 {
    display: flex;
    position: fixed;
    top: -20px;
    left: 230px;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.alert-02 {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    align-items: center;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(12px);
    background-color: rgb(18, 90, 157);
}

.alert-02 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.alert-red {
    border-radius: 0.375rem;
    height: 2.5rem;
    background-color: #EF4444;
    width: 4px;
}

.alert-text-red {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #EF4444;
}

.alert-text-green {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #10B981;

}

.alert-green {
    border-radius: 0.375rem;
    height: 2.5rem;
    background-color: #10B981;
    width: 4px;
}