.new-song-1 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: #D1D5DB;
    gap: 1rem;
    overflow: hidden;
}

.new-song-2 {
    padding: 0.75rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: #D1D5DB;
    outline-style: none;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    background-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #ffffff
}

.new-song-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    gap: 7rem;
    align-items: center;
    width: 100%;
}

.iul-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.iul-02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.iul-03 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;

}

.iul-04 {
    width: 0px;
    height: 0px;
}

.iul-05 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.img-01 {
    overflow: hidden;
    position: relative;
    border-radius: 0.375rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-00 {
    border-radius: 0.375rem;
    border-width: 2px;
    border-color: #D1D5DB;
    border-style: dotted;
    width: 40%;
    height: 350px;
    cursor: pointer;
    /* backdrop-blur: blur(12px); */

}

.il-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.il-02 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.il-03 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    width: 5rem;
    height: 5rem;
    background-color: #DC2626;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.il-04 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 9999px;
    background-color: #DC2626;
    filter: blur(24px);

}

@keyframes ping {

    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.del-but {
    position: absolute;
    right: 0.75rem;
    bottom: 0.75rem;
    padding: 0.75rem;
    border-radius: 9999px;
    outline-style: none;
    font-size: 1.25rem;
    line-height: 1.75rem;
    background-color: #EF4444;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.del-but:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.uploaders {
    width: 100%;
    display: flex;
    gap: 5%;
}

.dis-but {
    display: inline;
    margin-right: 0.75rem;
    width: 1rem;
    height: 1rem;
    color: #ffffff;
    animation: spin 1s linear infinite;
}

.dis-but-01 {
    display: inline-flex;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-right: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    background-color: #1D4ED8;
}

.dis-but-01:hover {
    background-color: #1E40AF;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.send-but {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.375rem;
    color: #ffffff;
    background-color: #DC2626;
}

.send-but-01 {
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
    align-items: center;
    /* width: 100%; */
}

.send-but:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}