.btn-body {
    color: rgb(148, 154, 160);
    cursor: pointer;
    transition: .1s linear;
    font-size: large;
    font-weight: 600;
    display: flex;
    text-decoration: none;
}

.btn-body-active {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .3s linear;
    font-size: large;
    font-weight: 600;
    display: flex;
    text-decoration: none;
}

.btn-icon {
    margin-left: 10px;
}

.btn-title {
    margin-left: 7px;
    margin-top: 4px;
}


.btn-body:hover {
    color: rgb(255, 255, 255);
}