.library-container .song-container li {
    list-style-type: none;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s linear;
}

.song-container li span {
    font-size: 12px;
    font-weight: 600;
    color: rgb(138, 179, 220) !important;
}


.song-container li img {
    width: 40px;
    height: 40px;
    margin-left: 25px;
}

.song-container li h5 {
    font-size: 15px;
    margin-left: 15px;
    color: rgb(108, 173, 232) !important;
}

.song-container li h5 .sub-title {
    font-size: 10px;
    color: #4c5262;
}